*.class

# Package Files #
*.jar
/target

# linux temp files #
*~

# Eclipse project files #
.project
.settings/
.classpath
.pydevproject

# output directories #
/bin

# python runtime stuff #
/cachedir

nb-configuration.xml
nbactions.xml
